<div class="form_auth_block">
  <div class="form_auth_block_content">
    <p class="form_auth_block_head_text">Регистрация</p>
    <form class="form_auth_style" action="#" method="post">
      <label>Укажите вашу почту</label> <input type="email" name="email" placeholder="Укажите вашу почту" required >
      <label>Создайте Ваш логин</label><input type="login" name="login_id" placeholder="Создайте Ваш логин" required >
      <label>Создайте Ваш пароль</label> <input type="password" name="password" placeholder="Создайте пароль" required >
      <button>Войти</button>
    </form>
  </div>
</div>